<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  

    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
    <main>

    <%
var categories = {};
var neighborhood = {};
json.Ready.forEach(function(row) {
  neighborhood[row.Neighborhood.trim()] = true;
  var categoryList = row.Neighborhood.trim().split(";");
  categoryList.forEach(g => categories[g] = true);
});

neighborhood = Object.keys(neighborhood);


    %>
      
    <div class="flexbox">
      <form class="search-form">
        <label class="instructions" for="search-bar">Search for a restaurant</label>
        <input id="search-bar">
      </form>

      <form class="filters">
        <label class="instructions" for="neighborhood-filter">Filter by neighborhood</label>
        <select class="neighborhood-filter selector" id="neighborhood-filter">
          <option value="">CHOOSE A NEIGHBORHOOD</option>
          <% neighborhood.forEach(function(d) { %>
            <option  name="neighborhood-filter" value="<%= d %>"><%= d %></option>
          <% }) %>
          </select>
      </form>
    </div>

      <ul  class="listings" id="listings">
     <% json.Ready.forEach(function(row) { %>
      <p class="restaurant" data-neighborhood="<%= row.Neighborhood.trim() %>"><strong style="font-size:1.5em"><a href="http://www.<%= row.Website %>" target="_blank"><%= row.Name %> </a></strong> <i><%= row.Offer %></i><br><%= row.Address %> <a href="tel:<%= row.Phone %>"><%= row.Phone %></a> </p>
    <% }) %>
    </ul>

      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
